header
{
    margin-bottom: 40px;
}

.container_dettagli
{
    border-radius: 20px;
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    background-color: white;
    box-shadow: 6px 6px 24px #FF0075;
}

.info_dettagli
{
    padding-top: 40px;
    width: 70vw;
}

.descrizione_dettagli
{
    padding-top: 40px;
    width: 70vw;
}

.pagamento_dettagli
{
    padding-top: 40px;
    width: 70vw;
    padding-bottom: 20px;
}


.img_dettagli
{
    height: 200px;
    width: 200px;

}

.pagamento_dettagli button
{
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 1.2;
    font-weight: normal;
    font-family: sans-serif;
    font-size: 17px;
    background-color: #FF0073;
    border-radius: 30px;
    padding: 18px 24px;
    border: 0px solid #FF0073;
    cursor: pointer;
}

