.container_profilo
{
    border-radius: 20px;
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    background-color: white;
    box-shadow: 6px 6px 24px #FF0075;
}

.campo
{
    padding-top: 40px;
    padding-right: 8em;
}

.campo_riepilogo
{
    margin-right: 9.5em;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px #FF0075;
}

.campo h5
{
    font-weight: bold;
    font-size:15px;
}

.fa-user-circle:before
{
    color: black;
    font-size: 10rem;
}

.riepilogo
{
    padding-left: 150px;
}


.consegna
{
    padding-top: 45px;
}

.cancella
{
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    color: black;
    text-decoration: none;
    line-height: 1.2;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 17px;
    background-color: #FF443A;
    border-radius: 30px;
    padding: 10px 14px;
    border: 0px solid #FF0073;
    cursor: pointer;
    box-shadow: 8px 8px 30px #FF443A;
}

.cancella:hover
{
    background-color: #ff3333;
}



/*Header*/
header
{
    margin-bottom: 40px;
}

.icon
{
    padding-top: 5px;
}

.icon1 a
{
    font-size: 2rem;
}

.fa fa-laptop
{
    padding-bottom: 20px;
}
